body
{
	background: black;
	font-size: 12px;
	margin: 0 auto;
	max-width: 1024px;
}

#seccion1 article
{
	text-align: center;
	display: inline-block;
	margin: 20px;
	font-size: 15px;
	width: 20%; 
}

#CartaBocaArriba1,#CartaBocaArriba2,#CartaBocaArriba3,#CartaBocaArriba4,
#CartaBocaArriba5,#CartaBocaArriba6,#CartaBocaArriba7,#CartaBocaArriba8,
#CartaBocaArriba9,#CartaBocaArriba10,#CartaBocaArriba11,#CartaBocaArriba12,
#CartaBocaArriba13,#CartaBocaArriba14,#CartaBocaArriba15,#CartaBocaArriba16
{
	display: none;
}